[Unit]
Description=uWSGI WebApp server instance
After=syslog.target

[Service]
ExecStart=/apps/joe.rbnsn.uk/venv/bin/uwsgi -H /apps/joe.rbnsn.uk/venv --ini-paste /apps/joe.rbnsn.uk/startingout/production.ini
RuntimeDirectory=/apps/joe.rbnsn.uk/startingout/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target