* {
  color: #2c3e50;
  font-family: "ConfigRounded";
  font-size: clamp(16px,1.964vw, 22px);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 25px;
}

.dropdown-toggle::after {
   transition: transform 0.15s ease-in-out;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

/*************************************************************/
/********      shared/_header.pt Template Styles      ********/
/*************************************************************/

header {
  //background-image: linear-gradient(to left, #314755 -10%, #26a0da 110%);
  //position: sticky;
  //top: 0;
  //z-index: 100;
}

/*************************************************************/
/********       shared/_main.pt Template Styles       ********/
/*************************************************************/

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.vanta-container {
  min-height: 100vh;
}

/*************************************************************/
/********      shared/_footer.pt Template Styles      ********/
/*************************************************************/

footer {
  background-image: linear-gradient(to right bottom, #3b4856, #53606e, #6b7988, #8592a2, #9fadbd);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px 10px;
  padding: 10px;
}

.footer-links {
  color: #2c3e50;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer-links:hover {
  text-decoration: none;
}

.sub-footer-links {
  color: #2c3e50;
  font-size: 0.8rem;
  margin-left: 5px;
}

.sub-footer-links:hover {
  text-decoration: none;
}

/***********************************/
/*********** Text Styles ***********/
/***********************************/

p {
  margin-bottom: 0;
}

.shadow-text {
  text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  background-blend-mode: difference;
}